<form id="cv-data-holder">

    <div class="card">
        <div class="card-header">
            Person
        </div>
        <div class="card-body">
            <label class="label" for="given">
                <h6 class="card-subtitle mb-2 text-muted">Förnamn</h6>
            </label>
            <input type="text" name="given" class="form-control" value="<%= get('data.person.name.given', ''); %>" >  <br>

            <label class="label" for="family">
                <h6 class="card-subtitle mb-2 text-muted">Efternamn</h6>
            </label>
            <input type="text" name="family" class="form-control" value="<%= get('data.person.name.family', ''); %>" >  <br>

            <label class="label" for="legalId">
                <h6 class="card-subtitle mb-2 text-muted">Personnummer</h6>
            </label>
            <input type="text" name="legalId" class="form-control" value="<%= get('data.person.legalId.valueId', ''); %>" >  <br>

            <div class="card bg-light">
                <div class="card-header">
                    <label class="label" for="email">
                        Email
                    </label>
                </div>
                <div class="card-body">
                    <% if (get('data.person.communication.email')) { %>
                        <% data.person.communication.email.forEach((email) => { %>
                            <input type="email" name="email" class="form-control" value="<%= email.address %>" >  <br>
                        <% }) %>
                    <% } %>
                    
                    <div>
                        <button type="button" class="btn btn-primary">Lägg till email</button>
                    </div>
                </div>
            </div>
            
            <div class="card bg-light">
                <div class="card-header">
                    <label class="label" for="phone">
                            Telefonnummer
                    </label>
                </div>
                <div class="card-body">
                    <% if (get('data.person.communication.phone')) { %>
                        <% data.person.communication.phone.forEach((phone) => { %>
                            <input name="phone" class="form-control" value="<%= phone.formattedNumber %>" >  <br>
                        <% }) %>
                    <% } %>
                    <div>
                        <button type="button" class="btn btn-primary">Lägg till telefonnummer</button>
                    </div>
                </div>
            </div>
            
            <label class="label" for="address">
                <h6 class="card-subtitle mb-2 text-muted">Adress</h6>
            </label>
            <% if (get('data.person.communication.address')) { %>
                <% data.person.communication.address.forEach((address) => { %>
                    <input name="address-line1" class="form-control" value="<%= address.line1 %>" >  <br>
                    <input name="address-line2" class="form-control" value="<%= address.line2 %>" >  <br>
                    <input name="address-line3" class="form-control" value="<%= address.line3 %>" >  <br>
                    
                    <label class="label" for="address-city">
                        <h6 class="card-subtitle mb-2 text-muted">Stad</h6>
                    </label>
                    <input name="address-city" class="form-control" value="<%= address.city %>" >  <br>
                    
                    <label class="label" for="address-postal">
                        <h6 class="card-subtitle mb-2 text-muted">Postnummer</h6>
                    </label>
                    <input name="address-postal" class="form-control" value="<%= address.postalCode %>" >  <br>
                <% }) %>
            <% } %>
            <div>
                <button type="button" class="btn btn-primary">Lägg till adress</button>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            Ditt CV
        </div>
        <div class="card-body">
            <label class="label" for="description">
                <h6 class="card-subtitle mb-2 text-muted">Beskrivning</h6>
            </label>
            <input type="text" name="description" class="form-control" value="<%= get('data.profile.description', ''); %>" >  <br>

            <div class="card bg-light">
                <div class="card-header">
                    <label class="label" for="employment">
                        Dina anställningar
                    </label>
                </div>
                <div class="card-body">
                    <% if (get('data.profile.employment')) { %>
                        <% data.profile.employment.forEach((employment) => { %>
                            <div class="card">
                                <div class="card-body">
                                    <label class="label" for="employment-title">
                                        <h6 class="card-subtitle mb-2 text-muted">Roll</h6>
                                    </label>
                                    <% if (employment.title) { %>
                                        <input name="employment-title" class="form-control" value="<%= employment.title %>" >  <br>
                                    <% } else { %>
                                        <input name="employment-title" class="form-control" value="" >  <br>
                                    <% } %>
                                    
                                    <label class="label" for="employment-organization">
                                        <h6 class="card-subtitle mb-2 text-muted">Organisation</h6>
                                    </label>
                                    <% if (employment.organization && employment.organization.name) { %>
                                        <input name="employment-organization" class="form-control" value="<%= employment.organization.name %>" >  <br>
                                    <% } else { %>
                                        <input name="employment-organization" class="form-control" value="" >  <br>
                                    <% } %>
                                    
                                    <label class="label" for="employment-description">
                                        <h6 class="card-subtitle mb-2 text-muted">Rollbeskrivning</h6>
                                    </label>
                                    <% if (employment.description) { %>
                                        <input name="employment-description" class="form-control" value="<%= employment.description %>" >  <br>
                                    <% } else { %>
                                        <input name="employment-description" class="form-control" value="" >  <br>
                                    <% } %>
                                </div>
                            </div>
                        <% }) %>
                    <% } %>

                    <div>
                        <button type="button" class="btn btn-primary">Lägg till anställning</button>
                    </div>
                </div>
            </div>

            <div class="card bg-light">
                <div class="card-header">
                    <label class="label" for="qualifications">
                        Dina kompetenser
                    </label>
                </div>
                <div class="card-body">
                    <% if (get('data.profile.qualifications')) { %>
                        <% data.profile.qualifications.forEach((qualification) => { %>
                            <% if (qualification.competencyName) { %>
                                <input name="qualification-competency-name" class="form-control" value="<%= qualification.competencyName %>" >  <br>
                            <% } else { %>
                                <input name="qualification-competency-name" class="form-control" value="" >  <br>
                            <% } %>
                        <% }) %>
                    <% } %>

                    <div>
                        <button type="button" class="btn btn-primary">Lägg till kompetens</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
